#versoes {
  margin-bottom: 50px;
}

#titulo-versions {
  margin-top: 15px;
  margin-left: 5px;
  text-align: center;
}

#subtitulo-versions {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-left: 40%;
  margin-top: 15px;
}

.container-titulo-versions {
  margin-left: 25px;
}

.container-abs-versions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.container-cbs-versions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.container-tw300abs,
.container-tw300cbs {
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin-top: 5%;
  margin-left: 60px;
  position: relative;
  gap: 20px;
  border-style: solid;
  border-color: #b30000;
  width: 680px;
}

#abs-red,
#cbs-grey {
  width: 100%;
}

.abs-specs,
.cbs-specs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  width: 40%;
  border: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.abs-specs h4 {
  font-weight: 300;
  width: 60%;
}

.abs-specs h5 {
  font-weight: 300;
  line-height: normal;
  width: 60%;
}

.cbs-specs h4 {
  font-weight: 300;
}

.cbs-specs h5 {
  font-weight: 300;
  line-height: normal;
  width: 322px;
}

#destaque {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
  width: 80px;
  height: 20px;
  background-color: #b30000;
  color: white;
}

footer {
  width: 100%;

  background-color: #1e1e1e;
  padding: 20px 0;
  color: #d9d9d9;
  position: relative;
  z-index: 10;
}

footer .content-footer {
  text-align: center;
}

footer h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #d9d9d9;
  font-size: 12px;
  margin: 10px 0;
}

footer .icons img {
  cursor: pointer;
  width: 30px;
  margin: 0 10px;
  transition: all 0.3s ease;
}

footer .icons img:hover {
  transform: scale(0.9);
}

@media (max-width: 1024px) {
  #titulo-versions {
    font-size: 28px;
    transform: translateX(3%);
  }

  #subtitulo-versions {
    font-size: 16px;
    transform: translateX(1%);
  }

  .container-tw300abs,
  .container-tw300cbs {
    width: 60%;
  }
  .abs-specs {
    transform: translateY(18px);
  }
  .cbs-specs {
    transform: translateY(20px);
  }
  .abs-specs,
  .cbs-specs {
    & h2 {
      font-size: 20px;
    }

    & h4 {
      font-size: 14px;
      width: 300px;
    }

    & h5 {
      font-size: 12px;
      width: 266px;
    }
  }
  .container-abs-versions,
  .container-cbs-versions {
    gap: 50px;
  }
}
