@media (max-width: 768px) {
  header {
    & .nav-bar ul li a {
      display: none;
    }

    & .all-logos {
      margin-right: 20%;
    }
  }
  .cb300-home {
    width: 500px;
    height: 250px;
    translate: 3vw;
    &::before {
      width: 140px;
    }
  }

  .content-home {
    & h1 {
      font-size: 20px;
      width: 200px;
    }

    & .btn-inter {
      width: 100px;
      height: 30px;
      font-size: 12px;
    }
  }

  #forward {
    transform: translateX(-18vw);
  }

  .container-btns {
    display: flex;
    margin-right: 100px;
  }
}
