/*/animação da barra de carregamento/*/

@keyframes load {
  0% {
    width: 0;
    background: #b30000;
  }
  25% {
    width: 25%;
    background: #b30000;
  }

  50% {
    width: 50%;
    background: #b30000;
  }
  75% {
    width: 75%;
    background: #b30000;
  }

  100% {
    width: 100%;
    background: #b30000;
  }
}
.remove-loading-bar {
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease;
}
.show-content {
  opacity: 1;
}
header {
  transform: translateY(-100%);
  transition: 0.8s ease;
  overflow-y: hidden;
}
.show-header {
  transform: translateY(0);
  z-index: 1;
  opacity: 1;
}
.show-content-home {
  transform: translateX(0);
  opacity: 1;
}
.show-home {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
.show-versions {
  opacity: 1;
  transition: opacity 2s ease-out;
}
.show-tw-versions {
  transform: translateX(0);
  transition: 1.5s ease-out;
}
.show-container-titulo-versions {
  transform: translateY(0);
}
