@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    
    overflow-x: hidden; 
    color: #1E1E1E;
    background-color: white;

}

header{

    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;

 
}

.titulos{

    font-family: "Roboto", sans-serif; 
    font-weight: 300;
    font-size: 36px;
    
}

.logohonda{

    width: 185px;
    margin-left: 26%;

}


#menu{
     
    margin-left: 32px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav-bar ul{
    
    display: flex;  
    margin: 50px;
    list-style: none;
    gap: 25px;
   
}

.nav-bar a{

    font-family:"Roboto", serif;
    font-size: 16px;
    color: #1E1E1E;
    text-decoration: none;

}

#inicio{

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 110px;
    background-color: #1E1E1E;
    font-family:"Roboto", serif;
    color: #D9D9D9;
    
}

.content-home{

    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.btn-inter{

    font-family: "Roboto", serif; 
    font-size: 14px;
    font-weight: 600;
    background-color: #B30000;
    border: none;
    color: #D9D9D9;
    width: 140.96px;
    height: 44.01px;
    cursor: pointer;
    transition: all 0.3s ease; 

}

.btn-inter:hover{

    background-color:#520101; 
    color: #fff;
    transform: scale(0.9);

}

.cb300-home{
    
    position: relative;
    display: flex;
    align-items: center;
}

.cb300-home::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 1000px;
    background: linear-gradient(#1E1E1E  ,#414141 );
    filter: blur(120px); 
    z-index: 0; 
}

.cb300-home img {

    position: relative;
    z-index: 1; 
}

#moto{

    width: 722px;
    height: 459px;

}

.container-btns{

    display:flex;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    margin-top: 50%;

}

.btn-abs{

    margin: 0;
    font-family: "Roboto", serif; 
    font-size: 14px;
    font-weight: 600px;
    background-color: #B30000;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 71px;
    height: 31px;
    cursor: pointer;
    transition: all 0.3s ease; 

}

.btn-abs:hover{

    background-color:#970404; 
    color: #fff;
    transform: scale(0.9);

}


.btn-cbs:hover{

    background-color:#970404; 
    color: #fff;
    transform: scale(0.9);

}

.btn-cbs{
    margin: 0;
    font-size: 14px;
    font-family: "Roboto", serif;
    font-weight:600; 
    background-color: #ffffff;
    color: #b30000;
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #B30000;
    width: 71px;
    height: 31px;
    cursor: pointer;
    transition: all 0.3s ease; 

}

.container-forward{

    cursor:pointer;
    transition: all 0.3s ease

}

hr{
 
border-color: #B30000;
margin-top: 15px;
}
