@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: #1e1e1e;
  background-color: white;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.titulos {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 36px;
}

#logo-honda {
  width: 185px;
  transform: translateX(220px);
}

#menu {
  margin-left: 32px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav-bar ul {
  display: flex;
  margin: 50px;
  list-style: none;
  gap: 25px;
}

.nav-bar ul li a:hover {
  display: inline-block;
  transform: scale(0.9);
  color: #b30000;
  transition: transform 0.2s, color 0.2s;
}

.nav-bar a {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 16px;
  color: #1e1e1e;
  text-decoration: none;
}

#inicio {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 110px;
  background-color: #1e1e1e;
  font-family: "Roboto", serif;
  color: #d9d9d9;
}

.content-home {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-inter {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #b30000;
  border: none;
  color: #d9d9d9;
  width: 140.96px;
  height: 44.01px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #520101;
    color: #fff;
    transform: scale(0.9);
  }
}

.cb300-home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 722px;
  height: 459px; 
  

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform:translateX(100vw);
    transition: 0.5s;
    opacity: 0;


 
  }

  & .active{

    transform: translateX(0);
    transition: 0.5s;
    opacity: 1 ;

}







}



.container-btns {
  display: flex;
  box-sizing: border-box;
  width: 100px;
  height: 50px;

  transform: translateY(180px);
}

.btn-abs {
  margin: 0;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 600px;
  background-color: #b30000;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 71px;
  height: 31px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #970404;
    color: #fff;
    transform: scale(0.9);
  }
}

.btn-cbs {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", serif;
  font-weight: 600;
  background-color: #ffffff;
  color: #b30000;
  border: none;
  border-radius: 5px;
  border-style: solid;
  border-color: #b30000;
  width: 71px;
  height: 31px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #970404;
    color: #fff;
    transform: scale(0.9);
  }
}

#forward {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(0.9);
  }
}

hr {
  border-color: #b30000;
  margin-top: 15px;
}

