.versions {
  margin-bottom: 50px;
  opacity: 0;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
.container-titulo-versions {
  text-align: center;
  margin-top: 20px;
  transform: translateY(100vw);
  transition: 0.5s ease;
}
#subtitulo-versions {
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.container-abs-versions,
.container-cbs-versions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 30px;
}
.container-tw300abs,
.container-tw300cbs {
  display: flex;
  border-style: solid;
  border-color: #b30000;
  border-width: 0.5px;
  flex: 1;
  margin-left: 4%;

  & img {
    max-width: 100%;
    width: 100%;
  }
}
.tw-versions {
  transform: translateX(-100%);
  transition: 0.5s ease;
}
.abs-specs,
.cbs-specs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Roboto", sans-serif;
  flex: 1;
}

ul li {
  list-style-type: none;
}
.abs-specs h4 {
  font-weight: 300;
  width: 60%;
}
.abs-specs ul li {
  font-weight: 300;
  line-height: normal;
  width: 322px;
}
.cbs-specs h4 {
  font-weight: 300;
  width: 60%;
}
.cbs-specs ul li {
  font-weight: 300;
  line-height: normal;
  width: 322px;
}
#destaque {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
  width: 80px;
  height: 20px;
  background-color: #b30000;
  color: white;
}

.colors-options {
  display: flex;
  gap: 10px;
}

.color-red {
  width: 30px;
  height: 30px;
  background-color: #b30000;
  border-radius: 50%;
}

.color-black {
  width: 30px;
  height: 30px;
  background-color: #1d1d1d;
  border-radius: 50%;
}

.color-blue {
  width: 30px;
  height: 30px;
  background-color: #303f83;
  border-radius: 50%;
}

.btn-abs,
.btn-cbs {
  margin: 0;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 600px;
  background-color: #b30000;
  color: #ffffff;
  border-radius: 2px;
  border: none;
  width: 70px;
  height: 30px;
  cursor: pointer;
}
